@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&family=Quicksand:wght@300;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



textarea {
    resize: none;
    font-size: 18px;
}

textarea:focus {
    outline: none;
}

#terminal textarea {
    overflow-y: hidden;
}

button {
    @apply inline-flex items-center justify-center font-medium transition-colors focus-visible:outline-none h-10 py-3 px-6 hover:bg-indigo-600/70
}

button.active {
    @apply bg-indigo-600 text-white hover:bg-indigo-600/70
}



.gutter {
    background-color: #fbf3f3;
    background-repeat: no-repeat;
    background-position: 50%;
    border: 1px solid black;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: row-resize;
}

#terminal form {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#terminal textarea {
    flex-grow: 1;

    background-color: transparent
}

#editor-editor {
    color: #abb2bf;
    background-color: #282C34;
    height: 100%;
    width: 100%;
}

.prism-code-editor {
    height: 100%
}

#editor-view {
    position: relative;
    overflow: hidden;
}

:host {
    height: 100%;
    overflow: auto;
}

#editor-output {
    font-family: monospace;
    @apply font-mono py-3 px-6
}


.error {
    color: red
}